{% extends 'dashboard.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header"><i class="fa fa-list fa-fw"></i> Wszyscy administratorzy</h2>
        </div>
    </div>
    {% include 'flash/flash.html.twig' %}
    <div class="row">
        <div class="table-responsive view-table">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Status</th>
                    <th>Id</th>
                    <th>Imię</th>
                    <th>Nazwisko</th>
                    <th>Telefon</th>
                    <th>E-mail</th>
                    <th>Nazwa użytkownika</th>
                    <th>Opcje</th>
                </tr>
                </thead>
                <tbody>
                    {% for administrator in administrators %}
                            {% if administrator.unblocked %}
                                <tr class="success">
                            {% else %}
                                <tr class="danger">
                            {% endif %}
                                <td>
                                    {% if administrator.unblocked %}
                                        <i class="fa fa-check fa-fw"></i> Aktywny
                                    {% else %}
                                        <i class="fa fa-ban fa-fw"></i> Zablokowany
                                    {% endif %}
                                </td>
                                <td>
                                    {{ administrator.id }}
                                </td>
                                <td>
                                    {{ administrator.firstname }}
                                </td>
                                <td>
                                    {{ administrator.lastname }}
                                </td>
                                <td>
                                    {{ administrator.phone }}
                                </td>
                                <td>
                                    {{ administrator.email }}
                                </td>
                                <td>
                                    {{ administrator.username }}
                                </td>
                                <td>
                                    <a href="{{ path('administrators_show', { 'id': administrator.id }) }}"><button type="button" class="btn btn-xs btn-default action-btn"><i class="fa fa-archive"></i></button></a>
                                    <a href="{{ path('administrators_edit', { 'id': administrator.id }) }}"><button type="button" class="btn btn-xs btn-default action-btn"><i class="fa fa-pencil"></i></button></a>
                                    {% if administrator.unblocked %}
                                        <a href="{{ path('administrators_block', { 'id': administrator.id, 'page' : page }) }}"><button type="button" class="btn btn-xs btn-default action-btn"><i class="fa fa-lock"></i></button></a>
                                    {% else %}
                                        <a href="{{ path('administrators_unblock', { 'id': administrator.id, 'page' : page }) }}"><button type="button" class="btn btn-xs btn-default action-btn"><i class="fa fa-unlock"></i></button></a>
                                    {% endif %}
                                </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% include 'paging/paging.html.twig' with {'page':page, 'page_count':administrators.pageCount, 'site_path':'administrators_index'} %}
{% endblock %}
