{% extends 'dashboard.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header"><i class="fa fa-archive fa-fw"></i> {{ administrator.firstname}} {{ administrator.lastname }}</h2>
        </div>
    </div>
    {% include 'flash/flash.html.twig' %}
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h4 class="text-center">
                        Dane
                    </h4>
                    <div class="table-responsive view-table">
                        <table class="table table-bordered">
                            <tbody>
                            <tr>
                                <th>Id:</th>
                                <td>{{ administrator.id }}</td>
                            </tr>
                            <tr>
                                <th>Uprawnienia:</th>
                                <td>{{ administrator.role.name}}</td>
                            </tr>
                            <tr>
                                <th>Imię:</th>
                                <td>{{ administrator.firstname }}</td>
                            </tr>
                            <tr>
                                <th>Nazwisko:</th>
                                <td>{{ administrator.lastname}}</td>
                            </tr>
                            <tr>
                                <th>Telefon:</th>
                                <td>{{ administrator.phone }}</td>
                            </tr>
                            <tr>
                                <th>E-mail:</th>
                                <td>{{ administrator.email }}</td>
                            </tr>
                            <tr>
                                <th>Nazwa użytkownika:</th>
                                <td>{{ administrator.username }}</td>
                            </tr>
                            {% if administrator.unblocked %}
                            <tr class="success">
                                {% else %}
                            <tr class="danger">
                                {% endif %}
                                <th>Status:</th>
                                {% if administrator.unblocked %}
                                    <td><i class="fa fa-check fa-fw"></i> Aktywny</td>
                                {% else %}
                                    <td><i class="fa fa-ban fa-fw"></i> Zablokowany</td>
                                {% endif %}
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    {% if is_granted('ROLE_MASTER_ADMIN') %}
                    <div class="row">
                        <div class="col-lg-12">
                            {{ form_start(delete_form) }}
                            <a href="{{ path('administrators_index') }}"><button type="button" class="btn btn-sm btn-default"><i class="fa fa-reply"></i> Wszystkie</button></a>
                            <a href="{{ path('administrators_edit', { 'id': administrator.id }) }}"><button type="button" class="btn btn-sm btn-primary"><i class="fa fa-pencil"></i> Edytuj</button></a>
                            {% if administrator.unblocked %}
                                <a href="{{ path('administrators_block', { 'id': administrator.id, 'page' : 1 }) }}"><button type="button" class="btn btn-sm btn-warning"><i class="fa fa-lock"></i> Zablokuj</button></a>
                            {% else %}
                                <a href="{{ path('administrators_unblock', { 'id': administrator.id, 'page' : 1 }) }}"><button type="button" class="btn btn-sm btn-warning"><i class="fa fa-unlock"></i> Odblokuj</button></a>
                            {% endif %}
                            <button type="submit" class="btn btn-sm btn-danger"><i class="fa fa-times fa-fw"></i> Usuń </button>
                            {{ form_end(delete_form) }}
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}