{% extends 'dashboard.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header"><i class="fa fa-bank fa-fw"></i> {{ type.name }}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-6 text-center">
                            <h4>Zdjęcie</h4>
                            <img class="image-max" src="{{ asset(types_directory ~ type.image) }}" />
                        </div>
                        <div class="col-lg-6 ">
                            <h4 class="text-center">Informacje</h4>
                            <div class="table-responsive view-table">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <th>Id:</th>
                                            <td>{{ type.id }}</td>
                                        </tr>
                                        <tr>
                                            <th>Nazwa:</th>
                                            <td>{{ type.name }}</td>
                                        </tr>
                                        <tr>
                                            <th>Opis:</th>
                                            <td>{{ type.description }}</td>
                                        </tr>
                                        <tr>
                                            <th>Data dodania:</th>
                                            <td>{{ type.addeddate|date('Y-m-d,  H:i:s') }}</td>
                                        </tr>
                                        <tr>
                                            <th>Format zdjęcia:</th>
                                            <td>{{ type.mimetype }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-lg-12">
                            {{ form_start(delete_form) }}
                            <a href="{{ path('types_index') }}"><button type="button" class="btn btn-sm btn-default"><i class="fa fa-reply"></i> Wszystkie</button></a>
                            <a href="{{ path('types_edit', { 'id': type.id }) }}"><button type="button" class="btn btn-sm btn-primary"><i class="fa fa-pencil"></i> Edytuj</button></a>
                            <button type="submit" class="btn btn-sm btn-danger"><i class="fa fa-times fa-fw"></i> Usuń </button>
                            {{ form_end(delete_form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="panel panel-info">
                <div class="panel-body">
                    <div class="col-lg-12 ">
                        <h4 class="text-center"><a href="{{ path('administrators_show', {'id': type.creator.id }) }}"><i class="fa fa-user fa-fw"></i> Dane twórcy</a></h4>
                        <div class="table-responsive view-table-info">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <th>Imię:</th>
                                        <td>{{ type.creator.firstname }}</td>
                                    </tr>
                                    <tr>
                                        <th>Nazwisko:</th>
                                        <td>{{ type.creator.lastname }}</td>
                                    </tr>
                                    <tr>
                                        <th>E-mail:</th>
                                        <td>{{ type.creator.email }}</td>
                                    </tr>
                                    {% if type.creator.unblocked %}
                                    <tr class="success">
                                        <th>Status:</th>
                                        <td><i class="fa fa-check fa-fw"></i> Aktywny</td>
                                        {% else %}
                                    <tr class="danger">
                                        <th>Status:</th>
                                        <td><i class="fa fa-ban fa-fw"></i> Zablokowany</td>
                                        {% endif %}
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}