{% extends 'dashboard.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header"><i class="fa fa-map-marker fa-fw"></i> {{ point.name }}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-6 text-center">
                            <h4>Picture</h4>
                            <img type="button" class="image-max" src="{{ asset(points_directory ~ point.picture) }}" data-toggle="modal" data-target="#img1">
                            <div id="img1" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                                <div class="modal-dialog modal-lg" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">×</span>
                                            </button>
                                            <h5 class="modal-title" id="myLargeModalLabel">{{ point.name }}</h5>
                                        </div>
                                        <img class="image-point-modal" src="{{ asset(points_directory ~ point.picture) }}">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 ">
                            <h4 class="text-center">Informations</h4>
                            <div class="table-responsive view-table">
                                <table class="table">
                                    <tbody>
                                    <tr>
                                        <th>Id:</th>
                                        <td>{{ point.id }}</td>
                                    </tr>
                                    <tr>
                                        <th>Name:</th>
                                        <td>{{ point.name }}</td>
                                    </tr>
                                    <tr>
                                        <th>Miejscowość:</th>
                                        <td>{{ point.locality }}</td>
                                    </tr>
                                    <tr>
                                        <th>Description:</th>
                                        <td>{{ point.description }}</td>
                                    </tr>
                                    <tr>
                                        <th>Longitude:</th>
                                        <td>{{ point.longitude }}</td>
                                    </tr>
                                    <tr>
                                        <th>Latitude:</th>
                                        <td>{{ point.latitude }}</td>
                                    </tr>
                                    <tr>
                                        <th>Added:</th>
                                        <td>{{ point.addeddate|date('Y-m-d,  H:i:s') }}</td>
                                    </tr>
                                    <tr>
                                        <th>MimeType:</th>
                                        <td>{{ point.mimetype}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-lg-12">
                            {{ form_start(form) }}

                            <button type="submit" class="btn btn-sm btn-warning"><i class="fa fa-level-up fa-fw"></i> Promote</button>
                            {{ form_end(form) }}

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="panel panel-info">
                <div class="panel-body">
                    <div class="col-lg-12 ">
                        <h4 class="text-center"><a href="{{ path('users_show', {'id': point.user.id }) }}"><i class="fa fa-user fa-fw"></i> User informations</a></h4>
                        <div class="table-responsive view-table-info">
                            <table class="table">
                                <tbody>
                                <tr>
                                    <th>Nickname:</th>
                                    <td>{{ point.user.nickname}}</td>
                                </tr>
                                <tr>
                                    <th>Username:</th>
                                    <td>{{ point.user.username }}</td>
                                </tr>
                                <tr>
                                    <th>E-mail:</th>
                                    <td>{{ point.user.email }}</td>
                                </tr>
                                {% if point.user.unblocked %}
                                <tr class="success">
                                    <th>Status:</th>
                                    <td><i class="fa fa-check fa-fw"></i> Active</td>
                                    {% else %}
                                <tr class="danger">
                                    <th>Status:</th>
                                    <td><i class="fa fa-ban fa-fw"></i> Blocked</td>
                                    {% endif %}
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-info">
                <div class="panel panel-heading">
                    <i class="fa fa-google" aria-hidden="true"></i> | Address: {{ address }}
                </div>
                <div class="panel panel-body map-panel">
                    <div id="map" class="map"></div>
                </div>
            </div>
        </div>
    </div>
    <script src="{{ asset('bundles/dashboard/dist/js/own_dashboard.js') }}"></script>
    <script>
        setLocation({{  point.latitude }}, {{ point.longitude }}, "{{ address }}");
    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDLlgsQgrT9WZ9E43J7hTOtjh1qcZLJCpo&callback=initMap">
    </script>
{% endblock %}
