{% extends 'dashboard.html.twig' %}

{% block content %}
    {# Header #}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header"><i class="fa fa-dashboard fa-fw"></i> Stan ogólny</h1>
        </div>
    </div>
    {% include 'flash/flash.html.twig' %}
    {# Status blocks #}
    <div class="row">
        {# Active block #}
        <div class="col-lg-6 col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-map-marker fa-3x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div>
                                {{ active_amount }}
                            </div>
                            <div>Aktywnych miejsc!</div>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table view-table">
                            <thead>
                            <tr>
                                <th>Id</th>
                                <th>Nazwa</th>
                                <th>Lokalizacja</th>
                                <th>Data dodania</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for point in active_points %}
                                <tr>
                                    <td>{{ point.id }}</td>
                                    <td>{{ point.name }}</td>
                                    <td>{{ point.locality }}</td>
                                    <td>{{ point.addeddate|date('Y-m-d')}}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <a href="{{ path('points_enabled') }}">
                    <div class="panel-footer">
                        <span class="pull-left">Zobacz więcej aktywnych punktów...</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        {# Users block #}
        <div class="col-lg-6 col-md-6">
            <div class="panel panel-green">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-child fa-3x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div>
                                {{ users_amount }}
                            </div>
                            <div>Zarejestrowanych użytkowników!</div>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table view-table">
                            <thead>
                            <tr>
                                <th>Id</th>
                                <th>Nick</th>
                                <th>Nazwa użytkownika</th>
                                <th>Data rejestracji</th>
                                <th>E-mail</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for user in users %}
                                <td>{{ user.id}}</td>
                                <td>{{ user.nickname}}</td>
                                <td>{{ user.username}}</td>
                                <td>{{ user.creationdate|date('Y-m-d, H:i:s')}}</td>
                                <td>{{ user.email }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <a href="{{ path('users_index') }}">
                    <div class="panel-footer">
                        <span class="pull-left">Zobacz więcej zarejestrowanych użytkowników...</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        {# New block #}
        <div class="col-lg-6 col-md-6">
            <div class="panel panel-yellow">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-level-up fa-3x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div>
                                {{ new_amount }}
                            </div>
                            <div>Nowych punktów do sprawdzenia!</div>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table view-table">
                            <thead>
                            <tr>
                                <th>Id</th>
                                <th>Nazwa</th>
                                <th>Lokalizacja</th>
                                <th>Data dodania</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for point in new_points %}
                                <tr>
                                    <td>{{ point.id }}</td>
                                    <td>{{ point.name }}</td>
                                    <td>{{ point.locality }}</td>
                                    <td>{{ point.addeddate|date('Y-m-d')}}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <a href="{{ path('points_acceptable') }}">
                    <div class="panel-footer">
                        <span class="pull-left">Zobacz więcej punktów do sprawdzenia...</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        {# Blocked block #}
        <div class="col-lg-6 col-md-6">
            <div class="panel panel-red">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-ban fa-3x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div>
                                {{ blocked_amount }}
                            </div>
                            <div>Zablokowanych punktów</div>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table view-table">
                            <thead>
                            <tr>
                                <th>Id</th>
                                <th>Nazwa</th>
                                <th>Lokalizacja</th>
                                <th>Data dodania</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for point in blocked_points %}
                                <tr>
                                    <td>{{ point.id }}</td>
                                    <td>{{ point.name }}</td>
                                    <td>{{ point.locality }}</td>
                                    <td>{{ point.addeddate|date('Y-m-d')}}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <a href="{{ path('points_disabled') }}">
                    <div class="panel-footer">
                        <span class="pull-left">Zobacz więcej zablokowanych punktów...</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    {# Header #}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header"><i class="fa fa-user fa-fw"></i> Sprawdzone przez Ciebie</h1>
        </div>
    </div>
    {# Admin blocks #}
    <div class="row">
        <div class="col-lg-6 col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-check fa-3x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div>
                                {{ admin_amount }}
                            </div>
                            <div>Ostatnio zatwierdzone przez Ciebie miejsca!</div>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table view-table">
                            <thead>
                                <tr>
                                    <th>Status</th>
                                    <th>Id</th>
                                    <th>Nazwa</th>
                                    <th>Lokalizacja</th>
                                    <th>Data dodania</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for point in admin_points %}
                                {% if point.unblocked %}
                                    <tr class="success">
                                    <td><i class="fa fa-check fa-fw"></i></td>
                                {% else %}
                                    <tr class="danger">
                                    <td><i class="fa fa-ban fa-fw"></i></td>
                                {% endif %}
                                <td><a href="{{ path('points_show', { 'id': point.id}) }}">{{ point.id }}</a></td>
                                <td>{{ point.name }}</td>
                                <td>{{ point.locality }}</td>
                                <td>{{ point.addeddate|date('Y-m-d')}}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}